BasedOnStyle: llvm
AccessModifierOffset: -4
AlignAfterOpenBracket: Align

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: true

IndentWidth: 8
BinPackArguments: false
BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  SplitEmptyRecord: false
